// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #009900;
  height: 100%;
}

h1  {
  text-align: center;
}

h2 {
  margin-top: 40px;
}

 .show_bullets {
  list-style: none;
  width: 500px;
}

.link_li {
  display: block;
}

.user_info {
  display: block;
}

.user_info {
  font-size: 1.5em;
}


.link_li:before {
  content: '\2660';
  margin-left: -20px;
  margin-right: 10px;
}


a {
  color: #0000EE;
}

a:link  {
  text-decoration: none;
}

.header {
  margin: auto;
  width: 200px;
  margin-top: 50px;
  display: block;
}

.analytics {
  margin: auto;
}

.header ul {
      padding-inline-start: 0px;
}

label {
  color: #FFF
}

.analytics {
  margin-top: 100px;
  text-align: center;
}

.login-div {
  height: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.create-profile-form{
  height: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}


  input {
  margin: 5px;
  margin-left: 0px;
  width: 55%;
}

#username {
  width: 80%;
}


#user_name {
  margin-bottom: 15px;
  margin-left: 29px;
}

#new-profile-link {
  margin-top: 20px;
  font-size: 13px;
}

.edit-form {
  height: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}


input[type = "submit"] {
  width: 35%;
}

.flash-message {
  color: red;
}

.create-profile-form a {
  margin-top: 10px;
  font-size: 12px;
}
